.contact {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	width: 1170px;
	height: 662px;

}

.contact__body {
	max-width: 1170px;
}

.contact__header {
	display: block;
	box-sizing: border-box;

}

.contact__title {
	font-family: "raleway";
	font-size: 36px;
	font-weight: 400;
	color: black;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.contact__text {
	font-family: "raleway";
	font-size: 18px;
	color: #86878B;
	font-weight: 400;
	margin-top: 25px;

}

.contact__form {
	display: flex;
	flex-direction: row;
	position: relative;
}

.left {
	display: flex;
	position: absolute;
	flex-direction: column;
	align-items: flex-start;
}

.right {
	display: flex;
	align-items: flex-end;
	position: absolute;
}

.contact__btn {
	position: absolute;
	border: none;
	Width: 370px;
	Height: 58px;
	font-family: "Open Sans";
	color: white;
	background-color: #EC7979;
	font-Weight: 600;
	font-size: 18px;
	text-decoration: none;
	z-index: 2;
	transition-duration: 0.3s;
}

.contact__btn:hover {
	background-color: #ec5454;
	color: rgb(181, 194, 190);
	text-decoration: none;
}

#feedback-form {
	border: none;
	font-family: "Open Sans";
}

#feedback-form [required] {
	width: 571px;
	box-sizing: border-box;
	margin: 2px 0 2% 0;
	padding: 2%;
	border: none;
	border-bottom: 1px solid #BDBDBD;
}

#feedback-form [required]:hover {
	border-color: #EC7979;
}

#feedback-form [type="submit"] {
	padding: 2%;
	border: none;
	background: #EC7979;
	color: white;
}

#feedback-form [class="left"] {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;


}

#feedback-form [type="text"] {
	font-family: "open sans";
	font-size: 14px;
	color: #BDBDBD;
	font-weight: 400;
	margin-top: 25px;
}

#feedback-form [type="email"] {
	font-family: "open sans";
	font-size: 14px;
	color: #BDBDBD;
	font-weight: 400;
	margin-top: 25px;
}

#feedback-form [type="password"] {
	left: 0;
	font-family: "open sans";
	font-size: 14px;
	color: #BDBDBD;
	font-weight: 400;
	margin-top: 25px;
}

#feedback-form [name="message"] {
	left: 0;
	font-family: "open sans";
	font-size: 14px;
	color: #BDBDBD;
	font-weight: 400;
	margin-top: 25px;
	resize: none;
}

#feedback-form [type="submit"]:hover {
	background: #ec5454;
	color: #BDBDBD;
}

#feedback-form text [placeholder="name"] {
	color: #BDBDBD;
	font-size: 14px;
	font-family: "open sans";
}