.customers {
	max-width: 1170px;
	margin-top: 50px;
	margin-left: 200px;
	padding: 0 10px;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	justify-content: space-between;

}

.review {
	padding: 105px 0;
	display: flex;
	flex-direction: column;
}

.review__header {
	width: 100%;
	max-width: 1170px;
	height: 150px;
	margin: 0 auto 40px;
	text-align: center;
}

.review__title {
	font-family: "Raleway";
	font-size: 36px;
	font-weight: 400;
	color: black;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 50PX;
}

.review__text {
	font-family: "Raleway";
	font-size: 18px;
	color: #86878B;
	font-weight: 400;
	margin-top: 25px;
}

.managers {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	flex-direction: row;
	margin-bottom: 40px;
}

.customer {
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: center;
	justify-content: space-around;

}

.customer1 {
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: center;

}

.customer2 {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	position: relative;
	text-align: center;

}

.rectangle {
	line-height: 0;
	width: 370px;
	height: 180px;
	position: relative;
	justify-content: space-between;
	background-color: #E2E2E2;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	margin: 30px;
}

/*так и не удалось сделать треугольник нужного размера*/
.rectangle::before,
.rectangle::after {
	content: '';
	position: absolute;
	left: 70px;
	bottom: -30px;
	border: 20px solid transparent;
	border-top: 20px solid #E2E2E2;
}

.rectangle::after {
	border-top: 30px solid #E2E2E2;

}

.about__axit {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Raleway";
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #86878B;
	padding-left: 20px;
	padding-right: 20px;

}

.human {
	display: flex;
	flex-direction: row;
	margin-top: 120px;

}

.photo1 {
	width: 70px;
	height: 70px;
	margin-top: 20px;
}

.info {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

.name {
	width: 269px;
	height: 54px;
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 24px;
	line-height: 21px;
	color: #000000;
	display: flex;
	justify-content: start;
}

.job {
	width: 270px;
	height: 21px;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	display: flex;
	justify-content: start;
}