.wrapper {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   border: 0;
   align-items: center;
}

.section {
   padding: 80px;
   justify-content: center;
   Width: 1500px;
   Height: 665px;
   padding: 40px;
}

.container {
   max-width: 1170px;
   margin: 0 auto;
   padding: 0 10px;
}

.container__body {
   padding: 105px 0;
   display: flex;
   flex-direction: column;
}

.section__header {
   width: 100%;
   max-width: 1170px;
   height: 150px;
   margin: 0 auto 40px;
   text-align: center;
}

.section__title {
   font-family: Raleway;
   font-size: 36px;
   font-weight: 400;
   color: black;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.hr {
   display: block;
   width: 170px;
   height: 1px;
   background-color: #EC7979;
   margin: 20px auto 0;
}

.section__text {
   font-family: Raleway;
   font-size: 18px;
   color: #86878B;
   font-weight: 400;
   margin-top: 25px;
}

.about {
   display: flex;
   box-sizing: border-box;
   justify-content: space-between;
   flex-direction: row;
}

.about__item {
   justify-content: space-between;
   display: flex;
   flex-direction: column;

}

.about__img {
   display: flex;
   justify-content: center;
   margin-top: 70px;
}


.about__text {
   font-family: "Raleway";
   word-wrap: normal;
   color: black;
   height: 105px;
   font-size: 18px;
   font-weight: 400;
   width: 370px;
   height: 105px;
   display: block;
   justify-content: center;
   text-align: center;
   box-sizing: border-box;
}

.h4 {
   width: 369px;
   height: 100px;
   font-family: 'Open Sans' sans-serif;
   font-weight: 700;
   font-size: 24px;
   line-height: 21px;
   color: #000000;
   display: flex;
   justify-content: center;
}