.section {
   padding: 80px;
}

.section__header {
   margin-bottom: 40px;
   width: 100%;
   max-width: 950px;
   margin: 0 auto 40px;
   text-align: center;
}

.section__title {
   font-family: Raleway;
   font-size: 36px;
   font-weight: 400;
   color: black;
   text-transform: uppercase;
}

.hr {
   display: block;
   width: 170px;
   height: 1px;
   background-color: #EC7979;
   margin: 20px auto 0;
}

.section__text {
   font-family: Raleway;
   font-size: 18px;
   color: #86878B;
   font-weight: 400;
}

.about {
   display: flex;
   justify-content: space-between;
}

.about__item {
   width: 30%;
}

.about__text {
   color: black;
   font-weight: 100;
   font-size: 12px;
   display: flex;
   align-items: center;
   text-align: center;
}

.h3 {
   font-family: 'Open Sans';
   font-style: normal;
   align-items: center;
   text-align: center;
   color: #000000;
}