.tab__body {
	flex-direction: row;
	text-align: center;
	Width: 1170px;

}

.head__tab:hover {
	border: 1px solid #C6CBCD;
	border-radius: 4px;
	border-bottom: none;
}

.head__tab {
	color: #333333;
	width: 200px;
	font-family: "Open sans";
	font-size: 14px;
	font-weight: 400;
	float: left;
	height: 44px;
	margin: 0 8px -1px 0;

}

.tab {
	Width: 1170px;
	Height: 501px;
	box-sizing: border-box;
	display: inline-flex;
	border: 1px solid #C6CBCD;
	flex-direction: row;
}

.left__column {
	justify-content: flex-start;
	flex-direction: column;
	padding-left: 100px;
	padding-right: 30px;

}

.information {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	height: 210px;
	font-size: 18px;
	align-items: center;
	color: #000000;

}

.h3 {
	font-family: 'Open sans' sans-serif;
	font-size: 30px;
	font-weight: 700;
	width: 510px;
	height: 124px;
}

.button {
	Width: 270px;
	Height: 58px;

}

.right__column {
	justify-content: flex-end;
	align-self: right;
}