/*не возвращается на первую вкладку обратно*/
.tab__body {
	flex-direction: row;
	text-align: center;
	Width: 1170px;

}

.tab__body>input[type="radio"] {
	display: none;
}

.tab__body>div {
	display: none;
	padding: 10px 15px;
	font-size: 16px;
}

#tab-btn-1:checked~#tab1,
#tab-btn-2:checked~#tab2,
#tab-btn-3:checked~#tab3 {
	display: block;
}

.tab__body>label {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	padding: 2px 8px;
	font-size: 16px;
	line-height: 1.5;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
	cursor: pointer;
	position: relative;
	top: 1px;
	color: #333333;
	width: 200px;
	font-family: "Open sans";
	font-size: 14px;
	font-weight: 400;
	float: left;
	height: 44px;
	margin: 0 8px -1px 0;
}


.tab__body>input[type="radio"]:checked+label {
	background-color: #fff;
	border-bottom: 1px solid #fff;
	border: 1px solid #e0e0e0;
	border-bottom: none;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.tab {
	Width: 1170px;
	Height: 501px;
	box-sizing: border-box;
	display: inline-flex;
	border: 1px solid #C6CBCD;
	flex-direction: row;
}

.left__column {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	padding-left: 100px;
	padding-right: 30px;

}

/*почему-то берет серый цвет текста*/
.information {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	height: 210px;
	font-size: 18px;
	align-items: center;
	color: #000000;
	width: 570px;
	height: 210px;
}

.h3 {
	font-family: 'Open sans';
	font-size: 30px;
	font-weight: 700;
	width: 510px;
	height: 124px;
}

.button {
	display: flex;
	justify-content: center;
	Width: 270px;
	Height: 58px;
	background-color: #EC7979;
	font-family: "Open Sans";
	color: white;
	font-Weight: 600;
	font-size: 18px;
	align-items: center;
	text-decoration: none;
}




.button:hover {
	background-color: #ec5454;
	color: aquamarine;
	text-decoration: none;
}

.right__column {
	justify-content: flex-end;
	align-self: right;
}