.tab {
	Width: 1170px;
	Height: 500px;
	Top: 1302px;
	Left: 170px;
	padding: 0px;
}

.box {
	box-sizing: content-box;
	position: absolute;
	width: 1508px;
	height: 500px;
	border: 1px solid #C6CBCD;
	flex-direction: column;
	display: inline-block;


}

.information {
	justify-content: flex-start;
	padding-left: 100px;
	padding-right: 30px;
	Width: 50%;
	Height: 210px;
	align-self: left;

}

.photo {
	Width: 40%;
	align-items: right;
	justify-items: end;
	position: right;

}

.h3 {
	Font: 'open sans';
	Size: 30px;
	padding-top: 400px;
	padding-bottom: 376px;
	padding-right: 500px;
	padding-left: 100px;
	margin-bottom: 27px;
}

.p {
	font-family: 'Raleway';
	font-style: normal;
	height: 210px;
	font-size: 18px;
	align-items: center;
	color: #000000;
	padding-top: 191px;
	padding-bottom: 139px;
	padding-right: 500px;
	padding-left: 100px;
	margin-bottom: 27px;
}

.button {
	Width: 270px;
	Height: 58px;
	align-items: flex-start;
}